resources_support/
contador_final_para_ocr.png
contador_inicial_redimensionado.png
info_tarjeta_para_ocr.png
info_tarjeta_redimensionado.png
titulo_tarjeta_para_ocr.png
titulo_tarjeta_redimensionado.png
primera_captura_reunion.png
primera_captura_ayuda.png
darkwar-bot.exe
go.mod
go.sum
identificacion_pantalla_ocr.png
identificacion_pantalla_redimensionada.png
captura_contador.png
boton_partir_intento_0.png
boton_partir_intento_1.png
boton_partir.png
boton_partir_intento_2.png
Capturas.psd
